html, body {
  height: 100%;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
  
  /* Control the left side */
.left {
    background-color: rgb(37, 37, 37); 
    width: 50%; 
    height: 100%; 
    float:left;
    text-align: center;
    color: wheat;
    
  }
  
  /* Control the right side */
  .right {  
    background-color: rgb(100, 100, 100); 
    width:50%; 
    height: 100%; 
    float:right;
    text-align:  center;
    
  }
  
  .topcontainer {
    width: 100%;
    border: 2px solid black;
    background-color:white; 
    font-size: 35px;
    text-align: center; 
    height: 58px;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0
  }
  
