html, body {
  height: 100%;
  
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  
  
}
body {
  margin: 0;
}
  
  /* Control the left side */
.left {
    background-color: rgba(245, 245, 245, 0.913); 
    width: 50%; 
    height: 100%; 
    float:left;
    text-align: center;
    color: rgb(0, 0, 0);
    
  }
  
  /* Control the right side */
  .right {  
    background-color: rgba(228, 228, 228, 0.751); 
    width:50%; 
    height: 100%; 
    float:right;
    text-align:  center;
    

  }
  
  .topcontainer {
    width: 100%;
    background-color:white; 
    font-size: 22px;
    text-align: center;
    height: 29px;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
   
  }
  
  .buttons {
    border-radius: 2px;
    background-color: rgb(214, 212, 208);
    border: transparent;
    color: rgb(37, 37, 37);
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

  }
  .submt {
    border-radius: 2px;
    background-color: rgb(78, 130, 203);
    border: transparent;
    color: rgb(37, 37, 37);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

  }
  .overlay{
    background: rgba(228, 241, 255, 0.9);
    position:fixed;
    width:90%;
    height:90%;
    z-index:1000;
    text-align: center;
    overflow-y:scroll;
    border-radius: 4px;
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 10%;
    margin-top: 3%;
    border: 1px solid grey;
    box-shadow: 3px 3px 10px;
   
}
.inputs {
  border-radius: 2px; 
  -webkit-border-radius: 2px; 
  border-width: 1px solid black;
}
.rules{
  padding-left: 10%; 
  padding-right: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(187, 196, 205, 0.5);
  font-size: 19px;
  
}
.wrong {
  text-decoration: line-through;
  color:rgb(255, 0, 0);
}
label{
  text-align: center;
  
}